.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desc {
  margin-top: 0px;
}
.next{
  border-radius: 5px;
  background-color: black;
  color: white;
  height: 50px;
  width: 75px;
  margin: 15px;
  font-size: 20px;
}
.guessContainer{
  display: flex;
  margin-top: 10px;;
}
.guessBox {
  outline: none;
  margin: 20px;
  border: 1px solid #DDDDDD;
}
.guessBox:focus {
  border: 2px solid lightblue;
}
#wrong {
  border-color: red;
}
#correct {
  border-color: green;
}

